.content__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 200px;
	opacity: 0;
	will-change: transform, opacity;
    pointer-events: none;
}

.content__img-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
    border-radius: 8px;
}
